<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKRcfRExhmcYRilVbZLB-PYpdEzmPIKBk</string>
	<key>GCM_SENDER_ID</key>
	<string>955119954547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.namekartApp</string>
	<key>PROJECT_ID</key>
	<string>namekart-cloud</string>
	<key>STORAGE_BUCKET</key>
	<string>namekart-cloud.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955119954547:ios:fcf413c2f86695d4381806</string>
</dict>
</plist>